@tailwind base;
@tailwind components;
@tailwind utilities;

.useTransition {
    @apply transition-all duration-300 ease-in-out;
}
.form {
    @apply my-1 rounded-md border border-slate-500 active:outline-none active:ring-0 focus:ring-0  focus:outline-none focus:border-slate-700 w-full;
}
.btn-secondary {
    @apply py-3 px-4 text-white font-light bg-slate-500 hover:bg-slate-600 useTransition rounded-md flex gap-3;
}
.btn-primary {
    @apply py-3 px-4 text-white font-light bg-primary hover:bg-blue-800 useTransition rounded-md flex gap-3;
}
